/**
 * Main styles for portfolio site.
 */

html {
  background-color: #132940;
  background-image: url('../images/mapbackdrop.jpg');
  background-position: top center;
}
body {
  margin: 0;
}
#hd, #ft {
  width: 930px;
  margin: 0 auto;
}
#hd {
  height: 40px;
  margin-top: 130px;
}
#ft {
  height: 50px;
  padding-top: 7px;
  font-family: Arial;
  font-weight: bold;
  font-size: 14px;
  color: #71879F;
}
#bd {
  width: 100%;
  height: 398px;
  border-width: 1px 0;
  border-color: white;
  border-style: solid;
  clear: both;
  position: relative;
}
#logo {
  float: left;
  width: 320px;
  font-family: Arial;
  font-weight: bold;
  font-size: 29px;
}
#logo .name {
  color: white;
}
#logo .portfolio {
  color: #71879F;
}
#logo a:link,
#logo a:visited {
  text-decoration: none;
}
#logo a:hover {
  text-decoration: underline;
  color: #71879F;
}

#navBar {
  float: right;
  width: 520px;
  font-family: Arial;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
  padding-top: 6px;
}
#navBar a {
  color: #71879F;
  text-decoration: none;
  padding: 8px 9px;
  display: inline-block;
}
.page-section-home #navBar a.nav-home,
.page-section-current-work #navBar a.nav-current-work,
.page-section-portfolio #navBar a.nav-portfolio,
.page-section-cv #navBar a.nav-cv,
.page-section-bio #navBar a.nav-bio,
.page-section-contact #navBar a.nav-contact {
  color: white;
  background-color: #71879F;
}
#navBar a:hover {
  text-decoration: underline;
}
.clear {
  clear: both;
  font-size: 1px;
}
