/**
 * Styles for portfolio detail pages.
 */

#bd {
  height: auto;
}

#bodyContent {
  width: 930px;
  margin: 40px auto 0;
  position: relative;
  color: white;
  font-family: Arial;
  font-size: 89%;
}

#bodyContent p {
  margin-top: 0;
}

.three-cols a:link,
.three-cols a:hover,
.three-cols a:visited {
  color: white;
}

.three-cols .col {
  float: left;
}

.three-cols .col-1 {
  width: 200px;
}

.three-cols .col-2 {
  width: 270px;
}

.three-cols .col-3 {
  width: 430px;
  margin-left: 25px;
}

.projects-row {
  padding: 0 0 10px;
}

.projects-rows div.first {
  padding-top: 0;
}

.projects-row .row-hd {
  padding: 0 0 7px 20px;
  color: #71879F;
  font-weight: bold;
  background: transparent url('../images/triangle-right.gif') no-repeat scroll 0 2px;
  cursor: pointer;
}

.projects-rows .active {
  padding-bottom: 0;
}

.projects-rows .active .row-hd {
  background-image: url('../images/triangle-down.gif');
  background-position: 0 5px;
}

.thumbs {
  display: none;
}

.thumbs .thumb {
  display: inline-block;
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
}

.page-apm .thumbs .thumb-apm,
.page-1md .thumbs .thumb-1md,
.page-do .thumbs .thumb-do,
.page-pw .thumbs .thumb-pw,
.page-csma .thumbs .thumb-csma,
.page-hoba .thumbs .thumb-hoba,
.page-wave .thumbs .thumb-wave,
.page-sl .thumbs .thumb-sl,
.page-br .thumbs .thumb-br,
.page-glp .thumbs .thumb-glp,
.page-sr .thumbs .thumb-sr,
.page-bth .thumbs .thumb-bth,
.page-se .thumbs .thumb-se,
.page-kmvt .thumbs .thumb-kmvt,
.page-clay .thumbs .thumb-clay,
.page-ak .thumbs .thumb-ak
 {
  border: 1px solid white;
  top: -2px;
  left: -2px;
  margin: 0 6px 6px 0;
  padding: 1px;
}

.projects-rows .active .thumbs {
  display: block;
}

.thumbs .thumb img {
  border: 0;
}
